@import 'reset.scss';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;

}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 300;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.lang {
  h4 {
    text-align: center;
  }
  .select-lang {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 5px;
      a {

        img {
          width: 30px;
        }
      }
    }
  }
}

.custom-card-btn {
  width: 100%;
  border-radius: 0;
  margin-top: 10px;
}

.custom-card {
  margin-bottom: 10px;
  border:1px lightgray solid;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  p {
    text-align: center;
    i {
      font-size:36px;
    }
  }
  h5 {
    font-weight:600 ;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  .btn {
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
  }
}


[role="main"] {
  h2 {
    font-size:24px;
    text-transform: uppercase;
    font-weight: 600;
  }

    h4 {
      font-size:18px;
      text-transform: uppercase;
      font-weight: 600;
  }
}

.table {
  td {
    vertical-align: middle;

  }
}

#my-card-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height:500px;
}

#my-card-list .ncard {
  width: 136px;
  height: 190px;
}

#my-card-list > .item {
  display: block;
  position: relative;
  width: 136px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 10px;
  cursor: pointer;
}

#my-card-list > .item .image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

}


#my-card-list > .item .image img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

}

#my-card-list > .item > .wrapper {
  position: absolute;
  width: 136px;
  height: 190px;
  top: 0;
  left: 0;
  z-index: 10;
}

#my-card-list > .item > .controlls {
  position: absolute;
  width: 136px;
  height: 190px;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

#my-card-list > .item > .controlls button {
  margin-left: 2px;
  margin-right: 2px;
}


.users form ul {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
  border: 1px lightgray solid;
}

.users form textarea {
  width: 100%;
  height: 100px;
}

.users a.action {
  font-size: 10pt;
  text-decoration: underline;
  color: brown;
  cursor: pointer;
}

.users .message {
  font-size: 14pt;
  font-style: italic;
  transition: .5s;
}

.users .message.success {
  color: lime;
  transition: .5s;
}

.users .message.error {
  color: firebrick;
  transition: .5s;
}

.users input[type="checkbox"] {
  position: relative !important;
  left: 20px !important;
  margin-right: 40px !important;
  opacity: 1 !important;
}

.users .delete {
  font-size: 8pt;
  font-style: italic;
  margin-left: 20px;
}

.users .eye {
  width: 20px;
  height: 20px;
}


.users .progress {
  width: 100%;
  height: 25px;
  position: relative;
  border: 1px lightgray solid;
  border-radius: 4px;
}

.users .progress.hide {
  display: none;
}

.users .progress .line {
  width: 0%;
  position: absolute;
  z-index: 0;
  left: 0;
  height: inherit;
  top: 0;
  background-color: #16e05e;
  transition: .5s;
}

.users .progress p {
  position: relative;
  text-align: center;
  color: #232221;
  font-weight: 600;
  margin-top: 5px;

}

/*---------------------*/
.custom-card {
  padding:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:150px;
  border:1px lightseagreen solid;
  margin-top:10px;
}

.custom-card p,
.custom-card h5 {
  text-align: center;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.image-list {
  width:100%;
  height:350px;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;;
}

.image-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
}

.image-items .image-container {
  width:140px;
  height:140px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 1;
}

.image-items .image-container img{
  width:100%;
  height:100%;
  padding:10px;
  box-sizing: border-box;
}

.image-items .image-container .controlls{
  position: absolute;
  z-index:100;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.list-group-item-failed {
  background: indianred;
}
/*------------------*/
.side-bar {
  position: fixed;
  top: 0px;
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  width: 224px;
  left: 0px;
  box-sizing: border-box;
}

.achievement {
  width:275px;
  height:380px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: auto;

  img {
    width: 185px;
    height: 185px;
    display: block;
    margin: 33px;
  }
}

input[type='file']{
  height: 45px;
}