@font-face {
  font-family: 'steelfish';
  src: url(/fonts/steelfish/steelfish.eot);
  src: url(/fonts/steelfish/steelfish.eot?#iefix) format('embedded-opentype'), url(/fonts/steelfish/steelfish.woff2) format('woff2'), url(/fonts/steelfish/steelfish.woff) format('woff'), url(/fonts/steelfish/steelfish.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Bebas';
  src: url(/fonts/BebasNeueBold.eot);
  src: url(/fonts/BebasNeueBold.eot?#iefix) format('embedded-opentype'), url(/fonts/BebasNeueBold.woff2) format('woff2'), url(/fonts/BebasNeueBold.woff) format('woff'), url(/fonts/BebasNeueBold.ttf) format('truetype');
  font-style: normal
}
