@import "utilits.scss";
@import "cardstyle.scss";

.lottery-section {
  @include flex(space-between, center);
  width: 100%;
  height: 100%;
  .left-side {
    width: 265px;

    .fixed {
      position: fixed;
      width: inherit;
      top: 80px;

      .controls {
        padding: 10px 0px 10px 0px;
        width: 100%;
        @include flex(flex-end, center);
        .mini-btn {
          cursor: pointer;
          width: 35px;
          height: 35px;
          background-color: $color2;
          padding: 3px;
          box-sizing: border-box;
          margin-left: 10px;
          box-shadow: 0px 0px 2px 0px $color12;
          &:hover {
            transition: .5s;
            box-shadow: 0px 0px 2px 0px $color12, 0px 0px 5px 0px $color3 inset;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .card {
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .block-info {
        width: 100%;
        position: relative;
        background-color: $color2;
        margin-top: 10px;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0px 0px 2px 0px $color12;

        .console {
          position: absolute;
          right: -35px;
          top: -35px;
          width: 70px;
          height: 70px;
          border: 4px $color3 solid;
          padding: 10px;
          background-color: $color10;
          box-sizing: border-box;
          border-radius: 50%;
          z-index: 12;

          img {
            width: 100%;
            height: 100%;
          }
        }

        h4 {
          color: $color4;
          text-align: center;
          width: 100%;
          font-size: 20px;
          font-weight: 100;
        }

        p.year {
          width: 100%;
          text-align: center;
          /* line-height: 202%; */
          font-size: 14px;
          padding-top: 10px;
          color: #646464;
        }

        p.price {
          width: 100%;
          text-align: center;
          font-size: 18px;
          color: #646464;
          /* padding: 0; */
          line-height: 0;

          strong {
            color: $color3;
          }
        }
      }

      .buttons {
        width: 250px;
        padding: 0px 0px 10px 0px;

        display: flex;
        justify-content: space-between;

        .random {
          height: 55px;
          background-color: $color7;
          position: relative;
          cursor: pointer;
          box-shadow: 1px 1px 5px 0px black;

          .line {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: var(--line-width);
            background-color: $color8;
            transition: 1s;
          }

          &[disabled] {
            cursor: progress;
            background-color: gray !important;
            transition: 1s;
            .line {
              transition: 1s;
              background-color: lightgray !important;
            }

            .text {
              color: $color2 !important;
              transition: 1s;
            }
          }

          .text {
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: $color4;
            font-weight: 600;
            font-size: 18px;
            transition: 1s;
          }
        }

        button {
          height: 55px;
          margin-top: 10px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          font-weight: 600;
          font-size: 18px;
          width: 100%;
          color: white;
          cursor: pointer;
          &.buy {
            background-color: $color9;
          }
        }

      }
    }
  }

  .right-side {
    width: 800px;
    height: auto;
    padding-bottom: 100px;
    .lottery {
      @include flex(flex-start, flex-start);
      align-content: space-evenly;

      .slot {
        width: 120px;
        height: 120px;
        border: 1px $color4 solid;
        margin-bottom: 10px;
        margin-left: 10px;
        box-shadow: 0px 0px 11px 0px $color4 inset, 0px 0px 2px 0px $color12;
        position: relative;
        background-color: $color10;
        cursor: pointer;

        &[disabled] {
          cursor: progress;
          &:after {
            content: '\f023';
            font-family: 'Font Awesome 5 Free';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            background: #4d4d4dcf;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: yellow;
            font-weight: 900;
          }
        }

        div {
          height: inherit;
          width: inherit;
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px;
          box-sizing: border-box;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .number {
          width: 100%;
          height: 100%;
          background-color: $color11;
          /* padding: 10px; */
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: $color4;
          border-radius: 50%
        }

      }

    }

  }

  @media (max-width: 1090px) {
    & {
      width: 815px;

      .right-side {
        width: 550px;
        .lotery {
          justify-content: center;
        }
      }
    }
  }

  @media (max-width: 850px) {
    & {
      width: 100%;
    }
  }

  @media (max-width: 850px) {
    .left-side {
      width: 100%;
      border-bottom: 1px $color4 solid;
      .fixed {
        position: relative;
        top: 0px;
        width: 100%;
        @include flex(center, center);
        .controls {
          @include flex(center, center);
          .mini-btn {
            width: 40px;
            height: 40px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
          }
        }
        .buttons {
          @include flex(center, center);

          flex-wrap: nowrap;

          .random,
          .buy {
            width: 260px;
          }
        }
      }
    }

    .right-side {
      @include flex(space-around, center);
      width: 100%;
      padding-top: 10px;
      .lottery {

        justify-content: center;
        .slot {
          width: 100px;
          height: 100px;
          margin-bottom: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}

.lottery-animation {
  @for $i from 1 through 100 {
    .slot:nth-of-type(#{$i}) {
      &:after {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background-color: rgba(255, 255, 0, 0.81);
        animation-duration: .5s;
        animation-direction: alternate-reverse;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-name: AnimSlot;
        animation-iteration-count: 20;
        animation-delay: 0.3s+$i*0.1;
      }
    }

  }

  .win-slot {
    &:before {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 11;
      background-color: rgba(255, 165, 0, 0.85);
      animation: AnimSlot 2s ease-in-out infinite;
      animation-fill-mode: both;
      animation-direction: alternate-reverse;
    }
  }

  @keyframes AnimSlot {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }

  }
}

