@import "utilits.scss";



.modal-body {
  width: 800px;
  padding:20px;
  box-sizing: border-box;
  @include flex(flex-start, space-between);
  flex-wrap: wrap;

  @media (max-width: 800px) {
    & {
      width: 100%;
    }
  }
  .modal-logo {
    width: 100%;
    @include flex(center, center);
    padding:20px;
    box-sizing: border-box;
  }

  p {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color:$color4;
    span {
      color:$color3;
    }

    a {
      color:$color3;
      font-weight: 900;
    }
  }
  hr {
    border:none;
    width:100%;
    height:1px;
    background-color: $color4;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color:$color4;
    padding: 10px;
    box-sizing: border-box;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color:$color4;
    span {
      color:$color3;
    }
  }

  .half {
    width:50%;
    @include flex(flex-start, space-between);
    padding:0px;
  }

  .input-group {
    width:100%;
    box-sizing: border-box;
    padding: 10px;
    @include flex(flex-start, center);

    input[type="file"] + label {
      padding: 20px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      cursor: pointer;
      border: 1px yellow solid;
      justify-content: center;
      align-items: center;
      display: flex;
    }


    label {
      font-weight: 900;
      font-size: 12px;
      margin-bottom:5px;
      color:$color4;
    }


    textarea,
    select,
    input {
      border: none;
      border-bottom: 1px solid $color4;
      color:$color4;
      font-weight:100 ;
      font-size:18px;
      width: 100%;
      min-width:100%;
      text-align: center;
      background:transparent;
      padding: 15px;
      box-sizing: border-box;
      text-transform: uppercase;
      font-family: 'Open Sans';

      &[disabled] {
        border: 1px gray solid !important;
        color: gray !important;
      }

      option {
        color:$color2;
      }
    }

    input[type="file"]{
      display:none;
    }

    input[type="file"] + label {
      padding: 5px;
      width: 100%;
      cursor: pointer;
      border:none;
    }

    textarea {
      font-size:16px;
      text-align: left;
      resize: vertical;
    }
    select {
      font-size:16px;
      text-transform: initial;
    }
  }
}

.promo-modal {
  width:500px;
}

.card-add-modal {
  width:500px;
  padding: 10px;
  box-sizing: border-box;

  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  .card-container {
    width: 200px;
    margin-left: 10px;
    height: 275px;
    border: 1px dashed yellow;
    padding: 5px;
    box-sizing: border-box;

    @include flex(center,center);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: white;
  }

  .row {
    width:100%;
    padding:0px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

    a {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration-line: underline;
      text-decoration-style: solid;
      cursor:pointer;
    }

    & > .input-group {
      padding:10px;
      textarea,
      select,
      input {
        border:1px white solid;
      }
    }

    & > .half {
      width:50%;
      padding:5px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;


      & > .input-group {
        padding: 5px;
        textarea,
        select,
        input {
          border: 1px white solid;
        }
      }

      label {
        font-size: 12px;
        font-weight: 900;
        width:100%;
        text-align: left;
        margin-bottom:5px;
        color:white;
      }


      hr {
        width:100%;
        height:1px;
        border:none;
        background-color: white;
      }

      button {
        width: 100%;
      }
    }
  }

}
.card-modal {
  width: 260px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 2px white inset;

  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: white;
  }

  .row {
    width:100%;
    padding:5px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;


    & > .half {
      width:50%;
      padding:5px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;

      label {
        font-size: 12px;
        font-weight: 900;
        width:100%;
        text-align: left;
        margin-bottom:5px;
        color:white;
      }


      hr {
        width:100%;
        height:1px;
        border:none;
        background-color: white;
      }

      button {
        width: 100%;
      }
    }
  }

  table {
    width: 100%;
    color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 8px;

    thead {
      th {
        font-weight: 900;
      }
    }

    tbody {
      tr {
        td {
          span {
            font-weight: 900;
            color:yellow;
          }
        }
      }
    }
  }

  .input-group {
    padding: 0px;
    label {
      color:yellow !important;
    }
    a {
      text-decoration-style: dashed;
      text-decoration-color: yellow;
      font-weight:100;
    }
    p {
      text-align:left;
    }
  }
}



.partner-modal {
  width:500px;

  p {
    text-align: justify;
    font-weight: 100;

    &:first-letter {
      margin-left:50px;
    }
  }
}

.report-modal,
.help-modal {
  width:500px;

  form {
    width:100%;

    input[type="file"]{
      border: 1px yellow solid !important;
    }
  }
}
.about-modal {
  p {
    text-align: justify;
    font-weight: 100;

    &:first-letter {
      margin-left:50px;
    }
  }
}

.recharge-modal {
  width:500px;
}

.questions-modal {
  padding:20px;
  box-sizing: border-box;
 & > ul {
   position: relative;
   margin-top: 10px;
    width: 100%;
    padding:10px 20px;
    border:1px $color3 solid;
    overflow: hidden;
   box-sizing: border-box;
   cursor:pointer;
   transition: .5s;
   &.active:after {
     content: '';
     position: absolute;
     right: 10px;
     top: 10px;
     transform-origin: center center;
     border-right: 2px solid $color3;
     border-bottom: 2px solid $color3;
     width: 10px;
     height: 10px;
     transform: rotate(45deg);
     transition: .5s;

   }

   &:after {
     content: '';
     position: absolute;
     right: 10px;
     top: 10px;
     transform-origin: center center;

     border-bottom: 2px solid $color3;
     width: 10px;
     height: 10px;

     transition: .5s;
   }

   &.active {
     height: auto;
     & > li > ul {
       display:block;
     }
   }

   &:focus,
   &:active,
   &:hover {
     height: auto;
     transition: .5s;
     &:after {
       transform: rotate(45deg);
       transition: .5s;
       border-right: 2px solid $color3;
     }

     & > li > ul {
       display:block;
     }
   }
    & > li {
     & > p {
        color:$color4;
        line-height: 150%;
        font-weight: 600;
        font-size:12px;
       padding:10px;
       text-align: left;
       text-overflow: ellipsis;
       word-break: keep-all;
      }

      & > ul {
        width:100%;
        display:none;
        li {
          color:$color3;
          font-weight: 600;
          font-size:12px;
          padding:5px 5px;
        }
      }
    }
  }
}


.history-modal {
  width:800px;
  ul {
    border: 1px yellow solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    margin-bottom:10px;

    li {
      width:16%;
       text-align: center;
      color:$color4;
      font-weight: 600;
      font-size:12px;
      padding:10px;
      box-sizing: border-box;

      i {
        font-size:24px;
      }

      a {
        color:$color3;
      }
    }
  }

  ul.body {

  }
}


.aside-menu-modal {
  & > nav {
    height: 100vh;
    width: 100%;
    @include flex(center,center);

    & > ul {
      display: block;
      width: 100%;

      & > li {
        font-size: 24px;
        transition:.5s;
        background-color: transparent;

        &.more-menu {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          border-top:1px white solid;
          .lang {
            @include flex(center, center);

            a {
              padding: 5px;
            }
          }

          ul.more {
            li {
              cursor:pointer;
              text-align: center;
              a {
                color: $color13;
                font-size: 16px;
                text-decoration: none;
                transition:.5s;


                &:hover {
                  color: $color3;
                }

                &.report {
                  font-weight: 900;
                  color: $color3;

                  &:hover {
                    color: $color5;
                  }
                }
              }
            }
          }
        }


      }
      .btn {
        background-color: transparent;
        box-shadow: none;
        border:none;
      }
      .btn.btn-black-2 {
        box-shadow: none;
      }

      .btn.btn-yellow {
        color:$color3;
        &:hover {
          color:$color2;
        }
      }


    }
  }
}

.main-menu-modal {
  & > nav {
    height: 100vh;
    width: 100%;
    @include flex(center,center);

    & > ul {
      @include flex(center,center);
      width: 100%;
      flex-direction: column-reverse;

      & > li {
        font-size: 24px;
        transition:.5s;
        background-color: transparent;
        width: 100%;


        &.auth {
          @include flex(space-around,center);
          padding: 10px;
          box-sizing: border-box;
          border-bottom: 1px yellow solid;
          .btn {
            width: 100%;
            &.btn-info {
              background-color: #007fb3;
            }
            &.btn-primary {
              background-color: #7ab300;
              margin-top: 10px;
            }
          }
        }

       &.user {
         @include flex(space-around,center);
         border-bottom: 1px solid yellow;
         .avatar {
           width:120px;
           height:120px;
           img {
             width:100%;
             height:100%;
           }
         }

         .info {
           p {
             width: 100%;
             text-align: left;
             font-weight: 600;
             font-size: 16px;
             line-height: 150%;
             text-transform: uppercase;
             color: white;
             strong {
               color:yellow;
             }
           }
         }

         .dropdown {
           width:100%;
           padding: 10px;
           box-sizing: border-box;
           ul {
             width:100%;
             display: flex;
             flex-direction: column;
             li {
               width:100%;
               text-align: center;
               a {
                 text-decoration: none;
                 font-size:24px;
                 color:white;
                 padding:20px;
                 display:block;
                 font-weight:900;
               }

               &:hover {
                 background-color: white;
                 a {
                   color:$color2;
                 }
               }
             }
           }
         }
       }


      }
      .btn {
        background-color: transparent;
        box-shadow: none;
        border:none;
      }

      .btn.btn-black {
        &:hover {
          box-shadow:none;
          background-color: yellow;
          color:$color2;
        }
      }

      .btn.btn-black-2 {
        &:hover {
          box-shadow:none;
          background-color: yellow;
        }
      }

      .btn.btn-yellow {
        color:$color3;
        &:hover {
          box-shadow:none;
          color:$color2;
        }
      }


    }
  }
}

.about-modal,
.rules-modal {
  width: 800px;
  @media (max-width: 800px) {
    & {
      width: 100%;
    }
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    li {
      width:100%;
    }
  }
  p {
    color: white;
    line-height: 150%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;

    &:first-letter {
      margin-left:50px;
    }

    strong {
      font-weight: 800;
    }

    a {
      color:yellow;
      font-weight: 800;
    }

  }

  h2 {
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 800;

    strong {
      color:yellow;
    }
  }
}
