@import "utilits.scss";

.onoffswitch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: var(--component-width);
.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;

  padding:0px 10px;
}

.onoffswitch-checkbox + .onoffswitch-label .onoffswitch-switch:after {
  content: attr(on);
  font-size: 14px;
  color: $color2;
  font-weight: 600;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: Trebuchet, Arial, sans-serif;

}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch:after {
  content: attr(off);
  font-size: 14px;

  color: $color2;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: Trebuchet, Arial, sans-serif;

}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid $color3;
  border-radius: 5px;
.onoffswitch-inner {
  display: block;
  margin-left: -100%;
  transition: margin 0.1s ease-in 0s;

&:before {
   content: attr(on);
   padding-left: 15px;
   background-color: $color2;
   color: $color4;
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }
&:after {
   content: attr(off);
   padding-right: 15px;
   background-color: $color2;
   color: white;
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;

 }
}

.onoffswitch-switch {
  display: block;
//width: var(--width-off);
  padding:0px 10px;
  margin: 5px;
  background: yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 73px;
  border: 2px solid yellow;
  border-radius: 2px;
  transition: all 0.1s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  padding: 6px 20px 5px 20px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
}

}
